$sidenav-width: 236px
$sidenav-medium-width: 91px
$sidenav-small-width: 61px
$main-width: 989px
$page-width: 1225px
$header-height: 68px
$search-bar-width: 520px

$purple-light: #dddbff
$purple: #7868E6
$purple-dark: #5d50b4
$grey-background: #F6F6FA
$grey-button-bg: #EDEEF7
$grey-button-bg-hover: #c8cad3
$grey-button-border: #AAAAAA