<div class="header__content">
    <div class="header__logo-container">
        <img src="../assets/small_logo.png" alt="web speak logo" class="header__logo">
        <h1 class="header__title">Web Speak</h1>
    </div>
    <label class="header__search-container" rel="js-search-container">
        <input type="text" placeholder="Search here" value="" rel="js-search-input">
        <button class="header__search-button" rel="js-search-button">
            <img src="../assets/search-button_icon.png" alt="search icon">
        </button>
    </label>
    <button class="header__profile" rel="js-header-profile">
        <p class="header__profile-name">Dmytro Kagirov</p>
        <img src="../assets/profile_avatar.png" alt="profile ava" class="header__profile-ava">
    </button>
</div>
<!--* Header popup  -->
<div class="profile-popup" rel="js-header-popup">
    <div class="profile-popup__space_2"></div>
    <div class="profile-popup__space"></div>
    <div class="profile-popup__body">
        <p class="profile-popup__title">Active session time:</p>
        <p class="profile-popup__time">1 : 20 : 15</p>
        <a href="#" class="profile-popup__element">
            <img src="../assets/nav_logout.png" alt="logout icon" class="profile-popup__icon">
            <p>Logout</p>
        </a>
    </div>
    <div class="profile-popup__any-places" rel="js-popup-any-places"></div>
</div>