<div class="sidenav__logo-container">
    <img src="../assets/small_logo.png" alt="web speak logo" class="sidenav__logo">
    <h1 class="sidenav__title">Web Speak</h1>
</div>
<a href="../pages/home.html" class="sidenav__element">
    <img src="../assets/nav_home.png" alt="home icon" class="sidenav__icon">
    <p>Home</p>
</a>
<a href="#" class="sidenav__element">
    <img src="../assets/nav_messages.png" alt="messages icon" class="sidenav__icon">
    <p>Messages</p>
</a>
<a href="../pages/profile.html" class="sidenav__element">
    <img src="../assets/nav_profile.png" alt="profile icon" class="sidenav__icon">
    <p>Profile</p>
</a>
<a href="#" class="sidenav__element">
    <img src="../assets/nav_settings.png" alt="settings icon" class="sidenav__icon">
    <p>Settings</p>
</a>
<a href="#" class="sidenav__element">
    <img src="../assets/nav_logout.png" alt="logout icon" class="sidenav__icon">
    <p>Logout</p>
</a>