<a href="../pages/home.html" class="sidenav__element element-1">
    <img src="../assets/nav_home.png" alt="home icon" class="sidenav__icon">
    <p>Home</p>
</a>
<a href="#" class="sidenav__element element-2">
    <img src="../assets/nav_messages.png" alt="messages icon" class="sidenav__icon">
    <p>Messages</p>
</a>
<a href="../pages/profile.html" class="sidenav__element element-3">
    <img src="../assets/nav_profile.png" alt="profile icon" class="sidenav__icon">
    <p>Profile</p>
</a>
<a href="#" class="sidenav__element element-4">
    <img src="../assets/nav_settings.png" alt="settings icon" class="sidenav__icon">
    <p>Settings</p>
</a>
<a href="#" class="sidenav__element element-5">
    <img src="../assets/nav_logout.png" alt="logout icon" class="sidenav__icon">
    <p>Logout</p>
</a>
<a href="#" class="sidenav__element element-6">
    <img src="../assets/nav_search.png" alt="search icon" class="sidenav__icon">
    <p>Search</p>
</a>

<div class="sidenav__switch-container">
    <div class = 'sidenav__toggle-switch' rel="js-theme-switch">
        <label>
            <input type = 'checkbox' rel="js-switch-checkbox" checked>
            <span class = 'slider'></span>
        </label>
    </div>
</div>